

<div class="workout" style="height: 80px;">
    <div class="workout-map-detail" style="height: 80px;" data-workout={{ workout.id }}>

        <div class="mini-map" data-polypath="{{ workout.encoded_path }}" style="height: 100%;">

        </div>
    </div>

</div>