{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GPX Analyzr{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'web/js/jquery-2.1.4.min.js' %}"></script>
    {% block head_links %} {% endblock %}
</head>
<body>
<div class="container">
    {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
    {% endif %}

    {% block content %} {% endblock %}
</div>

    <script type="text/javascript" src="{% static 'web/js/bootstrap.min.js' %}"></script>
    {% block body_javascript %} {% endblock %}
</body>
</html>