{% extends 'web/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_links %}
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/site.css' %}">
{% endblock %}

{% block content %}

        <h2>Welcome, {{ user.profile.first_name }}, to your dashboard!</h2>
        <btn id='import-workout' class="btn btn-danger">Import Workout</btn>

        <div class="workouts">
            {% for workout in workouts %}
                {% include 'web/_map_detail.html' %}
            {% endfor %}
        </div>


    <div id='import-modal' class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Import your workout</h4>
                </div>
                <form id="upload-form" action="{% url 'web:dashboard' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="modal-body">
                    <p>Upload your GPX file</p>
                    <input type="file" name="gpx_file" />
                </div>
                    </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="begin-upload" type="button" class="btn btn-primary">Upload</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>

       function initMap() {
           console.log('initializing maps');

           $('div.workout').find('div.mini-map').each(function(i,e){
               // Let's get something
               var polycode = $(e).data('polypath');

               new google.maps.Map(e, {
                   center: {lat: -34.397, lng: 150.644},
                   zoom: 8
               });
            });
       }

    </script>

{% endblock %}

{% block body_javascript %}
    <script type="text/javascript" src="{% static 'web/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'web/js/dashboard.js' %}"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZ6CTIJR2IYq85DOum5eyb13X3bNsuIsk&callback=initMap">
    </script>
{% endblock %}