{% extends 'web/base.html' %}

{% block content %}

 <h2>Coming soon!</h2>


        {% if user.is_authenticated %}
            <a href="{% url 'web:dashboard' %}">Dashboard</a>
        {% endif %}



{% endblock %}